#worldMap td{
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 17vh;
  width: 17vw;
  border-style: inset;
  border-width: 1px;
  border-color: #bf400a;
}

body {
  background-color: black;
  color: white;
  font-size: 25px;
}

span {
  position: absolute;
  margin-left: 10px;
  color: #bf400a;
  background-color:rgba(0,0,0,0.7);
  border: 10px;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  margin-left: 30px;
  margin-top: 40px;
}

.infected1 img {
  opacity: .75;
}

.infected2 img {
  opacity: .5;
}

.infected3 img {
  opacity: .25;
}

td {
  background-image: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

#vaccinate, #treat {
  display: none;
}

#showResults {
  font-size: 100px;
  text-align: center;
  background-image: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,255,255,0) 100%);
  /* position: sticky; */
  top: 100px;
  left: 100px;
}

.instructions {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 15px;
}
